.flights{

  height: auto;
  background-color:  #f4f4f4;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: inherit;
  z-index: 0;
}
.flightsMenu{
  margin-bottom: 20px;
  height: auto;
  grid-column-start: 2;
  grid-column-end: 3;
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.flights-h{
  display: table-cell;

  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 32pt;
  padding: 10px;
  padding-top: 5%;
  font-weight: 900;
}

.flights-more{
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: right;
  padding-top: 15%;
  padding-right: 20%;
}

.flights-ofer{
  margin: 4%;
  margin-right: 6%;
  height: auto;
  display: table-cell;
  border-bottom: 1px rgb(210, 210, 210) solid;
}

.flights-city{
  font-size: 16pt;
  color: black;
  vertical-align: middle;
  font-weight: 900;
}
.flights-count{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16pt;
  font-weight: bolder;
  color: #FF6200;
  font-weight: 900;
}
.flite-pob{
  font-size: 9pt;
}
