main{
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto 900 auto;
}

.passForm{
  grid-column-start: 2;
  grid-column-end: 3;
}

input{
  display: block;
}

.inline{
  display: inline;
}

input[type="text"],
input[type="tel"],
input[type="email"]{
  height: 30px;
  width: 250px;
  margin: 15px 0;
  padding-left: 10px;
  border: 3px #FF6200 solid;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ebf0ff;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus{
  outline: none;
  border: 3px #133AAC solid;
  background-color: rgb(250, 250, 250);
}


input[type="checkbox"] + label{
  margin-left: 15px;
  margin-top: 10px;
}

input[type="submit"]{
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 25px;
  background: #133AAC;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  width: 250px;
  border-radius: 5px;
}

input[type="submit"]:focus{
  outline: none;
}

fieldset{
  width: 300px;
  float: left;
  border: none;
}

h3{
  font-size: 25px;
  color: rgb(70, 70, 70);
}

.confirmBox{
  width: 100%;
  float: left;
}
