header{
  height: auto;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 1px 1px 5px rgb(150,150,150);
  min-width: 1005px;
}

header .headerLogo{
  height: 40px;
  display: table-cell;
  margin-bottom: 20px;
}

header .upperMenuItem{
  display: table-cell;
  vertical-align: middle;
  padding: 0px 25px;
  font-size: 18px;
  position: relative;
}

header .headerLeft{
  margin-top: 10px;
  display: table;
  float: left;
  margin-left: 10%;
}


header .clickable{
  cursor: pointer;
}


header .headerRight{
  margin-top: 15px;
  display: table;
  float: right;
  height: auto;
  margin-right: 10%;
}

header .rightHeaderIcon{
  display: table-cell;
  float: left;
  height: 20px;
  vertical-align: middle;
  padding: 10px 25px;
  position: relative;
}

header .rightHeaderIcon img{
  position: relative;
  height: 20px;
  vertical-align: middle;
}

header .img{
  position: relative;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  background-size: cover;
}



header .rightHeaderIcon:not(:last-child){
  border-right: 1px rgb(230, 230, 230) solid;
}

header #currency{
  font-size: 20px;
  font-weight: bold;
  color: gray;
}

header .chooseBox{
  width: 200px;
  border: 1px rgb(230, 230, 230) solid;
  font-size: 16px;
  color: rgb(150, 150, 150);
  background: white;
  position: absolute;
  top: 465px;
  right: 0px;
  padding: 10px;
  opacity: 0;

  z-index: -5;

  animation-name: chooseBoxAppear_back;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

header .iconBox:checked ~.chooseBox{
  z-index: 10;
  display: block;
  animation-name: chooseBoxAppear;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

header #searchBtn:checked ~.img{
  background-image: url(../images/cancel.svg);

}

header .img{
  background-image: url(../images/search.svg);
  background-size: cover;
}

header .iconBox{
  position: absolute;
  left: 0 !important;
  top: 0 !important;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10;
}

@keyframes chooseBoxAppear {
  0% {
    top: 165px;
    opacity: 0;
    display: none;
  }

  100% {
    top: 45px;
    opacity: 1;
    display: block;
  }
}

@keyframes chooseBoxAppear_back {
  0%{
    top: 45px;
    opacity: 1;
    display: block;
  }

  99% {
    top: 165px;
    opacity: 0;
    z-index: -5;
  }

  100% {
    top: -1065px;
    opacity: 0;
    z-index: -5;
  }

}

@keyframes searchBoxApperar {
  0% {
    top: 165px;
    opacity: 0;
    display: none;
  }

  100% {
    top: 0px;
    opacity: 1;
    display: block;
  }
}

@keyframes searchBoxApperar_back {
  0%{
    top: 0px;
    opacity: 1;
    display: block;
  }

  99% {
    top: 165px;
    opacity: 0;
    z-index: -5;
  }

  100% {
    top: -1065px;
    opacity: 0;
    z-index: -5;
  }

}

header .chooseBoxHeader{
  border-bottom: 1px rgb(230, 230, 230) solid;
  padding: 10px 5px;
  font-weight: bold;
}

header .chooseBoxHeader div:nth-child(1){
  font-size: 20px;
  color: black;
  font-weight: 800;
}

header .chooseBoxHeader div:nth-child(2){
  font-size: 15px;
  color: gray;
  font-weight: normal;
}

header .chooseBoxOption{
  width: 185px;
  display: block;
  overflow: hidden;
  padding: 8px 5px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

header .chooseBoxOption:nth-child(2){
  margin-top: 5px;
}

header .chooseBoxOption:hover{
  color: white;
  background: var(--main-color);
}

header .chooseBoxOption:hover .currencyCode{
  color: white;
}

header .currencyName{
  float: left;
  width: 40%;
}

header .currencyCode{
  float: right;
  width: 40%;
  text-align: right;
  color: gray;
}

header .chooseBoxOption img{
  float: left;
  margin-right: 10px;
}

header .countryName{
  float: left;
  margin-top: 4px;
  font-size: 15px;
  font-weight: bold;
}


header #searchBox{
  width: 600px;
  position: absolute;
  right: 100%;
  background-color: white;
  border: none;
  animation-name: searchBoxApperar_back;
}


header .iconBox:checked ~#searchBox{
  z-index: 10;
  display: block;
  animation-name: searchBoxApperar;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}


header #searchBox .chooseBoxHeader{
  border: none;
  margin-bottom: 10px;
}

header #searchBox input{
  border: none;
  height: 30px;
  font-size: 25px;
  color: rgb(50, 50, 50);
  outline: none;
  width: 98%;
  z-index: 20;
  margin-top: -5px;
}

header #searchBox .popularRequests{
  font-size: 13px;
  color: rgb(150, 150, 150);
  padding-left: 5px;
}

header #searchBox .chooseBoxOption{
  font-size: 25px;
  width: 98%;
}


header .cover{
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 2;
}

header .leftMenuCheck{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0 !important;
  top: 0 !important;
  z-index: 9;
}

header .upperMenuItem:hover{
  color: rgb(180, 180, 180);
}



header .box_underliner{
  position: absolute;
  width: 80%;
  height: 70%;
  top: 0;
  left: 10%;
  padding-bottom: -40px;
}

header .leftMenuCheck:checked ~ .box_underliner{
  border-bottom: 2px var(--main-color) solid;
}

header .leftMenuCheck ~ .menuBox{
  overflow: visible;
}

header .menuBox{
  top: 100px;
  display: none;
  position: absolute;
  background: none;
  overflow: visible;
}


header .menuCol{
  float: left;
  width: 300px;
  padding-top: 30px;
  margin-bottom: 100px;
}

header .menuBack{
  background: white;
  box-shadow: 0px 8px 14px 0px rgba(34, 60, 80, 0.2);
  width: 100%;
  height: 0;
  position: absolute;
}

header .menuCol:first-child{
  margin-left: 20%;
}

header .menuTitle{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  color: black;
}

header .menuItem{
  margin-bottom: 5px;
  font-size: 18px;
  color: rgb(100, 100, 100);
}

header .menuItem:hover{
  color: black;
}

@media (max-width: 1350px) {
  header .headerLeft{
    margin-left: 0%;
  }
  header .headerRight{
    margin-right: 0%;
  }

  header .headerLogo{
    height: 30px;
  }
}


header a{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: inherit;
  text-decoration: none;
}

header a:visited{
  color: inherit;
  text-decoration: none;
}
