
main{
  display: grid;
  grid-template-columns: auto 900px auto;
}

form{
  grid-column-start: 2;
  grid-column-end: 3;
}

.payArea{
  margin-top: 100px;

  position: relative;
  height: 470px;
}

.credCard{
  width: 450px;
  height: 285px;
  border: 1px rgb(240, 240, 240) solid;
  border-radius: 17.1px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
}

#cc1{
  z-index: 6;
  background: rgb(225, 225, 225);
}

#cc2{
  left: 200px;
  top: 150px;
  z-index: 5;
  background: rgb(200, 200, 200);
}

.magnLine{
  position: absolute;
  width: 100%;
  height: 60px;
  top: 22.5px;
  background: rgb(50, 50, 50);
}

input{
  display: block;
}

input[type="text"],
input[type="password"]{
  height: 30px;
  font-size: 20px;
  display: block;
  padding-left: 10px;
  border: 1px black solid;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus{
  outline: none;
  border-color: #FF6200;
}

#cardNum{
  position: absolute;
  width: 370px;
  top: 130px;
  left: 30px;
}

.dateField{
  position: absolute;
  width: 35px;
  bottom: 40px;
}

#df1{
  left: 30px;
}

#df2{
  left: 120px;
}

.slash{
  position: absolute;
  bottom: 45px;
  left: 95px;
  font-size: 25px;
  font-weight: bold;
  user-select: none;
}

#validText{
  position: absolute;
  left: 30px;
  bottom: 80px;
  font-size: 17px;
  font-weight: bold;
  user-select: none;
}

#CVC{
  position: absolute;
  right: 50px;
  top: 130px;
  width: 45px;
}

.cvcInfo{
  position: absolute;
  right: 30px;
  top: 180px;
  width: 80px;
  font-size: 13px;
  user-select: none;
}

.systems{
  position: absolute;
  top: 15px;
  left: 15px;
}

.systems img{
  height: 30px;
  float: left;
  margin: 10px;
  user-select: none;
}

#mc{
  height: 40px;
}

#visa{
  height: 60px;
  margin-top: -5px;
}

#unionpay{
  height: 35px;
}

.payInfo{
  margin-left: auto;
  margin-right: 0px;
  margin-bottom: 30px;
  width: 500px;

  font-size: 20px;
  border: 6px #70E500 dashed;
  padding: 15px;
}

li{
  list-style-type: none;
  font-size: 20px;
}

li::before{
  content: "";
  background: #FF6200;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: -30px;
  margin-right: 10px;
}

span{
  display: inline;
}

.price{
  font-weight: bold;
}

.orange{
  color: #FF6200;
}

input[type="submit"]{
  font-size: 25px;
  font-weight: bold;
  font-stretch: white;
  background: #133AAC;
  color: white;
  outline: none;
  height: 45px;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:focus{
  outline: none;
}
