/**
 * @package PickMeUp
 * @author  Nazar Mokrynskyi <nazar@mokrynskyi.com>
 * @license 0BSD
 */
.pickmeup {
	background: #FFFFFF;
	border-radius: 0.4em;
	border: 1px gray solid;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	display: inline-block;
	position: absolute;
	touch-action: manipulation;
	z-index: 20;
}

.pickmeup * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.pickmeup.pmu-flat {
	position: relative;
}

.pickmeup.pmu-hidden {
	display: none;
}

.pickmeup .pmu-instance {
	display: inline-block;
	height: 13.8em;
	padding: .5em;
	text-align: center;
	width: 15em;
}

.pickmeup .pmu-instance .pmu-button {
	color: #000000;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

.pickmeup .pmu-instance .pmu-today {
	background: #476BD6;
	color: #AEF26D;
}

.pickmeup .pmu-instance .pmu-button:hover {
	color: #6AAC2B;
}

.pickmeup .pmu-instance .pmu-not-in-month {
	color: #CCCCCC;
}

.pickmeup .pmu-instance .pmu-disabled,
    .pickmeup .pmu-instance .pmu-disabled:hover {
	color: #333;
	cursor: default;
}

.pickmeup .pmu-instance .pmu-selected {
	background: #FF8940;
	color: #000000;
}

.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
	background: #BF6730;
}

.pickmeup .pmu-instance nav {
	color: #000000;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	line-height: 2em;
}

.pickmeup .pmu-instance nav *:first-child :hover {
	color: #70E500;
}

.pickmeup .pmu-instance nav .pmu-prev,
      .pickmeup .pmu-instance nav .pmu-next {
	display: none;
	height: 2em;
	width: 1em;
}

.pickmeup .pmu-instance nav .pmu-month {
	width: 14em;
}

.pickmeup .pmu-instance .pmu-years *,
    .pickmeup .pmu-instance .pmu-months * {
	display: inline-block;
	line-height: 3.6em;
	width: 3.5em;
}

.pickmeup .pmu-instance .pmu-day-of-week {
	color: #062170;
	cursor: default;
}

.pickmeup .pmu-instance .pmu-day-of-week *,
    .pickmeup .pmu-instance .pmu-days * {
	display: inline-block;
	line-height: 1.5em;
	width: 2em;
}

.pickmeup .pmu-instance .pmu-day-of-week * {
	line-height: 1.8em;
}

.pickmeup .pmu-instance:first-child .pmu-prev,
  .pickmeup .pmu-instance:last-child .pmu-next {
	display: block;
}

.pickmeup .pmu-instance:first-child .pmu-month,
  .pickmeup .pmu-instance:last-child .pmu-month {
	width: 13em;
}

.pickmeup .pmu-instance:first-child:last-child .pmu-month {
	width: 12em;
}

.pickmeup:not(.pmu-view-days) .pmu-days,
  .pickmeup:not(.pmu-view-days) .pmu-day-of-week,
  .pickmeup:not(.pmu-view-months) .pmu-months,
  .pickmeup:not(.pmu-view-years) .pmu-years {
	display: none;
}
