.storyes{
  margin-top: 150px;
  margin-bottom:200px;
  z-index: 1;
  grid-column-start: 2;
  grid-column-end: 3;
}

.story1{
  background-color: #FFFFFF;
  z-index: 1;
  box-shadow: 1px 1px 5px rgb(150,150,150);
  border-radius: 12px;
  float: left;
  height: auto;
  width: 31%;
  margin-right: 30px;
}

.story2{
  background-color: #FFFFFF;
  z-index: 1;
  box-shadow: 1px 1px 5px rgb(150,150,150);
  border-radius: 12px;
  float: left;
    height: auto;
  width: 31%;
  margin-right: 30px;
}

.story3{
  background-color: #FFFFFF;
  z-index: 1;
  box-shadow: 1px 1px 5px rgb(150,150,150);
  border-radius: 12px;
  float: left;
  width: 31%;
}

.strory_img{
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 40%;
}

.stroryes-title{
  margin: 20px;
  font-size: 24pt;
  font-weight: 900;
}
.stroryes-text{
  margin: 20px;
}
.storyes-mbut{
  margin-bottom: 20px;
  border:0;
  margin-left: 20px;
  height: 30px;
  width: 100px;
  border-radius: 15px;
  border: 1px rgb(210, 210, 210) solid;
}
.stroryes-title2{
  margin: 20px;
  margin-top: 90px;
  font-size: 24pt;
  font-weight: 900;
}
.storyes-mbut2{
  margin-top: 30px;
  margin-bottom: 20px;
  border:0;
  margin-left: 20px;
  height: 30px;
  width: 100px;
  border-radius: 15px;
  border: 1px rgb(210, 210, 210) solid;
}

.stroryes-text2{
  margin: 20px;
  margin-top: 20px;
}
