@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: repeat(4, auto);
  font-family: 'Bellota Text';
  margin: 0;
  animation-name: hideSmth;
  animation-duration: 0.35s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  position: relative;
  --main-color: #FF6200;
  min-width: 1005px;
}



@keyframes hideSmth {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

main{
  display: grid;
  grid-template-columns: auto 1000px auto;
  height:auto;
  background: white;
}


.side_services{
  margin-bottom: 15px;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 250px;
  background-color: #FFFFFF;
  z-index: 1;
  box-shadow: 1px 1px 5px rgb(150,150,150);
}

.ftelement{
  display: table-footer-group;
  height: auto;
  width: 20%;

}
.fblock{
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  height: auto;
}
