
main{
  display: grid;
  grid-template-columns: auto 900px auto;
  margin-top: 100px;
  font-size: 20px;
}

main div {
  grid-column-start: 2;
  grid-column-end: 3;
}

.succes img {
  display: block;
  height: 250px;
  margin: 0px auto;
}

h2{
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
}

a{
  color: #FF6200;
}

a:visited{
  color: #FF6200;
}
